[Unit]
Description=Uvicorn instance to serve FxPixiv
After=network.target

[Service]
User=fxpixiv
Group=www-data
WorkingDirectory=/var/www/FxPixiv
Environment="PATH=/var/www/FxPixiv/fxpixiv/bin"
ExecStart=/var/www/FxPixiv/fxpixiv/bin/gunicorn fxpixiv:app --workers 4 --worker-class uvicorn.workers.UvicornWorker --bind unix:fxpixiv.sock 

[Install]
WantedBy=multi-user.target