[Unit]
Description=Script to automatically purge FxPixiv cache
After=network.target

[Service]
User=fxpixiv
Group=www-data
WorkingDirectory=/var/www/FxPixiv
Environment="PATH=/var/www/FxPixiv/fxpixiv/bin"
ExecStart=/var/www/FxPixiv/fxpixiv/bin/python3 sync.py

[Install]
WantedBy=multi-user.target